@model HotelInfo.Models.HotelCreateModel

@{
    ViewBag.Title = "Добавить гостиницу";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Hotels", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Title)</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.IndividualId)</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.IndividualId, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.IndividualId)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Address)</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Address, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>

            <div id="bossArea" class="hidden">
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Boss.FirstName)</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Boss.FirstName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Boss.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Boss.SecondName)</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Boss.SecondName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Boss.SecondName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Boss.MiddleName)</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Boss.MiddleName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Boss.MiddleName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Boss.IndividualId)</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Boss.IndividualId, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Boss.IndividualId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 ">
                    <input type="submit" class="btn btn-primary" value="Добавить"/>
                    <input id="addBossBtn" type="button" class="btn btn-default" value="Добавить директора" />
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>

<script>
    $(document).ready(function () {
        $('#addBossBtn').click(function() {
            $('#addBossBtn').hide();
            $('#bossArea').toggleClass('hidden');
        });
    });
</script>