@model HotelInfo.Models.PositionViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dd>
                @Html.ActionLink("Изменить", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
                @Html.ActionLink("Удалить", "Delete", new {id = Model.Id}, new {@class = "btn btn-default"})
            </dd>
        </dl>
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
